

      <div class="row">
        <div class="col-md-12 text-center">
        <h1></h1>
        </div>
      </div>
    <div class="jumbotron">
          <div class="container">
            <h1 class="display-4">EVENTS</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          </div>
    </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <% @posts.each do |post| %>
          <div>
            <div class="rectangle">
              <div class="content">
                <br>
                <h4>
                <a href="/posts/<%= post.id %>" class="anch"><%= post.title %></a>
                <h4>
              </div>
            </div>






              <br>


          </div>
          <% end %>

        </div>

      </div>


      <div class="row">
        <div class="col-md-12 text-center">
          <button class="contbut2">
            <div class="content">
              <h4>
              <a href="/eventlocations">View List of Events with Locations</a>
              <h4>
            </div>
            </button>

        </div>
      </div>
