
<div class="row">
  <div class="col-md-12 text-center">
<h1>New Event</h1>
</div>
</div>
<br>
<div class="row">
  <div class="col-md-12 text-center">
    <label>TITLE</label>
</div>
</div>
<br>
<form action="/<%= @post.id %>" method="post">
      <div class="row">
        <div class="col-md-12 text-center">
          <div>

            <input type="text" name="title" placeholder="Enter a title" value="<%= @post.title %>">
          </div>

      </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12 text-center">
          <div>

            <textarea name="body" rows="8" cols="80" placeholder="Put your post"><%= @post.body %></textarea>
          </div>
      </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12 text-center">
          <div>
            <div>
              <input class="delete" type="submit" value="Save Post">
            </div>

          </div>
      </div>
      </div>

<br>




  <% if(@post.id) %>
  <input type="hidden" name="_method" value="put">
  <% end %>


</form>
