








<br>
<div class="container text-center">
      <h1>WELCOME TO STAR EVENTS</h1>
      <div class="row">



      </div>
      <br><br>
    </div>
<br>

    <video width="320" height="700" autoplay>
      <source src="videos/Batala_band_01_Videvo.mp4" type="video/mp4">

    </video>
    <hr>
    <div class="container">
      <div class="row text-center">
        <div class="col-md-5">
          <img src="images/ConcertGoers.png" class="img-rounded img-responsive">
        </div>
        <div class="col-md-7 responsive-lg-sm" id=#box >
          <br>
          <h4>ALWAYS TOO LATE?</h4>
          <p> You can now do a countdown to all the events you are interested in gkgkhoitjlkdjoriugk. </p>
          <br>
          <h4>WANT TO SELL TICKETS TO YOUR SHOW?</h4>
          <p> You can easily set up a page and sell tickets to your show from here.</p>
          <br>
          <h4>SHARE WITH FRIENDS?</h4>
          <P> Whether you are trying to sell, buy or show that you are attending... </P>
          <br>
        </div>
      </div>

    </div>
    <hr>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <h4> Multiple Platforms</h4>
          <p> We are connected to over 200 ticket websites and compare all the best prices to get you the best possible deals. Social media is easily linked to this website... </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <img src="images/logo2.png" class="img-rounded img-responsive">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <h4> FAQ's</h4>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <img src="images/help.png" class="img-rounded img-responsive">
        </div>
      </div>

    </div>
