<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/"><img id="logo" src="/images/logo2.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Events</a></li>
        <li><a href="/locations">Locations</a></li>
        <li><a href="/post/new">Add Event</a></li>
        <!-- <li><a href="/location/new">New Location</a></li> -->


      </ul>
    </div>
  </div>
</nav>
